// Place all the styles related to the admins::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  justify-content: center;
}

.customer-title-index {
  margin: 30px 0px 30px 0px;
}
.customer-title-show {
  margin: 30px 0px 30px 0px;
}
.customer_table{
  margin: 30px 0px 30px 0px;
}

.checkbox {
	margin-left: 90px;
}
.submit {
	margin-left: 20px;
}