// Place all the styles related to the admins::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_index_logo{
	float: left;
}

.item_index_btn{
	float: right;
	font-size: 40px;
	margin-right:10px;
}

.item_select{
	width: 300px;
}


.item_edit{
	width: 550px;
	height: 40px;
}

.text_area{
	height: 150px;
}

.item_box{
	margin-top: 2px;
}

.col-xs-4 th {
	padding: 0 0 20px 0 ;
}

.image_wrapper{
	width: 500px;
}

.item_image_btn{
	display: none;
}

#img_field {
  border: solid 1px lightblue;
  color: #666;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 500px;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 20px;
  color: #aaa;
  line-height: 400px;
  transition: 0.3s ease-out;
  margin-left: 170px;
}

#img_field:hover {
  background-color: lightblue;
  transition: 0.3s ease-out;
  opacity: 0.9;
}


.edit_btn{
	float: right;
}