// Place all the styles related to the admins::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-title-index {
  margin: 30px 0px 30px 0px;
}

.order-title-show {
  margin: 30px 0px 30px 0px;
}

.order-amount-table {
    width: 100;
	margin: 50px  0px 0px 20px;
	border-collapse: separate;
	border-spacing: 8px 0px;
}
.order-amount-table td {
      text-align: right;
 }