<div class="container">
	 <div class="row">
	    <div class="col-xs-3">
			<h3><strong>会員一覧画面</strong></h3>
		</div><br><br>
		<div class="text-right">
			<%= render "form", customers: @customers %>
		</div>
	</div>
</div>