<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h3 class="thanks-message">ご購入ありがとうございました！</h3>
      <h3><%= link_to "トップページへ", root_path, class: "btn btn-default" %></h3>
    </div>
  </div>
</div>
