<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h3>注文情報入力</h3>
      <h4>支払い情報</h4>
        <p>クレジットカード</p>
        <p>銀行振り込み</p>
  　  <h4>お届け先</h4>
        <p>ご自身の住所</p>
        <p>登録済住所から選択</p>
        <p>新しいお届け先</p>
        

    </div>

  </div>

</div>
