<div>

	<div class="item_index_logo">
		<h2>商品一覧画面</h2>
	</div>

	<div class="item_index_btn">
		<%= link_to "商品作成ページ" , new_admins_item_path %>
	</div>

	<div class="item_index_list">
		<table class="table">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= link_to (item.name) ,admins_item_path(item) %></td>
					<td><%= item.price %></td>
					<td></td>
					<td></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>