<div class="container">
  <div class="row">
    <div class="col-xs-10 col-offset-xs-1">
      <table class="table table-default">
          <tr>
            <th>ショッピングカート</th>
            <th><%= link_to "カートを空にする", "#" %></th>
          </tr>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>cart_item.name</td>
            <td>cart_item.price</td>
            <td>cart_item.quantity</td>
            <td>cart_item.quantity * cart_item.price</td>
            <td><%= link_to "削除する", "#", class: "btn btn-danger" %></td>
          </tr>
          <% end %>
          <tr>
            <th><%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %></th>
            <th>合計金額</th>
            <th><%= amount(cart_items) %></th>
          </tr>
      </table>


    </div>

  </div>

</div>
