<header>
  <style media="screen">
    #genres {
      text-align: center;
        text-decoration: none;
    }
    .genre-search {
      position: fixed;
      top: 100px;
      left: 50px;
      width: 200px;
    }
  </style>
</header>
<div class="genre-search", style="border: dashed 1px black;">
  <h4 style="text-align: center;">ジャンル検策</h4>
  <% @genres.each do |genre| %>
  <% if genre.is_status == true %>
  <p id="genres"> <%= link_to genre.name, genre_items_path(genre) %></p>
  <% end %>
  <% end %>
</div>
