<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <p>ようこそ、NaganoCakeへ!<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、
      購入には会員登録が必要になります。</p>
      

      <%= link_to "商品一覧へ", items_path %>
    </div>

  </div>

</div>
