/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 body {
    font-family: "Comic Sans MS", "arial unicode ms";
 }

 .form{
   text-align: right;
 }
 .header_logo{
 	width: 270px;
 	height: 50px;
 	background-image: url(logo-01.jpg);
 	background-size: cover;
 	background-position: center;
 	float: left;
 }
 ul{
 	list-style: none;
 }

.nav{
	line-height: 50px;
	float: right;
	list-style: none;
}

.nav li{
	float: left;
	margin: 0 20px;
}

$cBlack: gray;

.footer {
margin-top: auto;
bottom: 0;
width: 100%;
height: 50px;
background-image: url(logo-01.jpg);
background-position: center;
}

.btn {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.7);
    margin: 10px 0 5px 15px;

    &:hover {
      background-color: white;
      color: $cBlack;
      border-color: $cBlack;
      transform: none;
      box-shadow: none;

    }
}
