<div class="container">
  <div class="row">

    <h2>注文詳細画面</h2>

<!-- 注文詳細 -->

<!-- ステータス変更 -->

     <div class="col-xs-10">a
        <table>
            <tr>
        	    <th></th>
        	    <th></th>
        	    <th></th>
            </tr>
        </table>
<!-- 注文一覧　ステータスupdate -->
      </div>

<!-- 商品合計 -->
      <div class="col-xs-2">
      	  <p>商品合計</p>
      	  <p>送料</p>
      	  <p>請求金額合計</p>
      </div>
  </div>
</div>