<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>




  </head>

  <body>
    <header class="navbar navbar-default">
        <%= link_to root_path ,class: "header_logo" do %>
        <% end %>
      </div>
      </header>
    <%= yield %>
  </body>
</html>
